.widget-container {
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .widget-label {
    color: white;
    font-size: 14px;
  }
  
  .widget-button {
    width: 100%;
    display: block;
  }

  
  .widget-progress-text {
    font-size: 14px;
  }
  